@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body {
    background: rgb(238, 115, 117);
    background: linear-gradient(180deg, rgba(238, 115, 117, 1) 12%, rgba(105, 65, 131, 1) 75%)fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
}

.header {
    text-align: center;
    color: #fff;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 300;
}

.header p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}

.form {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 4rem;
}

input {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    padding: .8rem;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

input::placeholder {
    color: #fff;
    font-size: .9rem;
    font-weight: 300;
}

input:focus {
    outline: none;
}

.btn {
    margin-top: 2rem;
    background-color: #f0286b;
    border: none;
    padding: .8rem;
    color: #fff;
}

.btn:hover {
    background-color: #b92053;
    cursor: pointer;
}

.form p {
    color: #fff;
    text-align: center;
    font-size: .86rem;
}

.form a {
    text-decoration: none;
    color: #f0286b;
}

.form a:hover {
    color: #6e05b4;
}

@media(max-width:500px) {
    .form {
        width: 70%;
    }
}